.low {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 420px;
    height: 100%;
}

.like-Box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color: white;
}

.like-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.like-Content {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.like-Content img {
    width: 200px;
    height: 300px;
}

.movie-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}


