.low {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-Container {
    height: 100%;
}

.search-Box {
    margin-top: 100px;
    width: 100%;
}

.search-Bar {
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}

.poster-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 420px;
    height: 100%;
}

.like-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.like-Content {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.like-Content img {
    width: 200px;
    height: 300px;
}

.movieNull {
    min-height: 100vw;
    color: white;
}


